<div class="pb-5"></div>
<div class="container">

  <mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign up</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form #signupForm="ngForm" class="text-center" style="color: #757575;">

        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form">
              <input type="text" class="form-control" name="fname" mdbInputDirective [(ngModel)]="signupData.FirstName"
                required>
              <label for="materialRegisterFormFirstName">First name</label>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input type="email" id="materialRegisterFormLastName" name="lname" class="form-control" mdbInputDirective
                [(ngModel)]="signupData.LastName" required>
              <label for="materialRegisterFormLastName">Last name</label>
            </div>
          </div>
        </div>

        <div class="md-form mt-0">
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="Male" id="defaultInline1" name="inlineDefaultRadiosExample"
              mdbInputDirective [(ngModel)]="signupData.Gender">
            <label class="custom-control-label" for="defaultInline1">Male</label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="Female" id="defaultInline2" name="inlineDefaultRadiosExample"
              mdbInputDirective [(ngModel)]="signupData.Gender">
            <label class="custom-control-label" for="defaultInline2">Female</label>
          </div>
        </div>

        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" id="materialRegisterFormEmail" name="emailid" class="form-control" mdbInputDirective
            [(ngModel)]="signupData.EmailId" required>
          <label for="materialRegisterFormEmail">E-mail</label>
        </div>

        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialRegisterFormPassword" name="pwd" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
            mdbInputDirective [(ngModel)]="signupData.Password" required>
          <label for="materialRegisterFormPassword">Password</label>
          <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
          </small>
        </div>

        <!-- Phone number -->
        <div class="md-form">
          <input type="text" id="materialRegisterFormPhone" name="phone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
            mdbInputDirective [(ngModel)]="signupData.MobileNo" required>
          <label for="materialRegisterFormPhone">Phone number</label>
        </div>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Newsletter -->
            <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>
          </div>
          <div>
            Already have an account? <a routerLink="/login">Login</a>
          </div>
        </div>

        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
          mdbWavesEffect type="submit" (click)="signIn(signupForm.form.status)">Sign in</button>

        <!-- Social register -->
        <p>or sign up with:</p>

        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon icon="github"></mdb-icon>
        </a>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a>terms of service</a> and
          <a>terms of service</a>. </p>

      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>


</div>