<header class="h-100 mb-5">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
        [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" routerLink=""><strong>Online Store</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in"></i> Login / Signup </a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown *ngIf="isLoggedIn">
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        {{UserName}}<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/profile">Profile</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect (click)="onLogout()">Logout</a>
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        More<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">About Us</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Customer Care</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view bg">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>This Navbar is fixed</h2>
                        <h5>It will always stay visible on the top, even when you scroll down</h5>
                        <br>
                        <p>Full page intro with background image will be always displayed in full screen mode,
                            regardless of device
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>

<router-outlet>
</router-outlet>

<!-- Footer -->
<footer class="page-footer font-small indigo darken-3 mt-5">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <mdb-icon icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <mdb-icon icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <mdb-icon icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <mdb-icon icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <mdb-icon icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <mdb-icon icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->