<div class="pb-5"></div>
<div class="container">
  <mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Forgot Password</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;">
        <br>
        <!-- Email -->
        <div class="md-form">
          <input type="email" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
          <label for="materialLoginFormEmail">E-mail</label>
        </div>
        <br>
        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
          mdbWavesEffect type="submit">Submit</button>

        <br>

      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
</div>