<div class="pb-5"></div>
<div class="container">

    <mdb-card>

        <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
                <strong>Login</strong>
            </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">

            <!-- Form -->
            <form #loginForm="ngForm" class="text-center" style="color: #757575;">

                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" name="useremail" class="form-control"
                        mdbInputDirective [(ngModel)]="LoginData.UserEmail" required>
                    <label for="materialLoginFormEmail">E-mail</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" name="userpwd" class="form-control"
                        mdbInputDirective [(ngModel)]="LoginData.Password" required>
                    <label for="materialLoginFormPassword">Password</label>
                </div>

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <mdb-checkbox>Remember me</mdb-checkbox>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a routerLink="/forgotpwd">Forgot password?</a>
                    </div>
                    <div>
                        Don't have an account? <a routerLink="/signup">Signup</a>
                    </div>
                </div>

                <!-- Sign up button -->
                <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit" (click)="login(loginForm.form.status)">Login</button>

                <!-- Social register -->
                <p>or sign up with:</p>

                <a type="button" class="light-blue-text mx-2">
                    <mdb-icon icon="facebook"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <mdb-icon icon="twitter"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <mdb-icon icon="linkedin"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <mdb-icon icon="github"></mdb-icon>
                </a>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a>terms of service</a> and
                    <a>terms of service</a>. </p>

            </form>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>

</div>