<div class="pb-5"></div>
<div class="container">
  <mdb-card>
    <mdb-card-header>Profile</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5></h5>
      </mdb-card-title>
      <mdb-card-text>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nametb">First Name</label>
          <div class="col-md-9">
            <input type="text" name="fname" id="nametb" class="form-control" [ngModel]='UserData.FirstName' disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="lnametb">Last Name</label>
          <div class="col-md-9">
            <input type="text" name="lname" id="lnametb" class="form-control" [ngModel]='UserData.LastName' disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="emailtb">Email Id</label>
          <div class="col-md-9">
            <input type="email" name="emailid" id="emailtb" class="form-control" [ngModel]='UserData.EmailId' disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="gendertb">Gender</label>
          <div class="col-md-9">
            <input type="text" name="gender" id="gendertb" class="form-control" [ngModel]='UserData.Gender' disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="mno">Mobile No</label>
          <div class="col-md-9">
            <input type="text" name="mno" id="mno" class="form-control" [ngModel]='UserData.MobileNo' disabled>
          </div>
        </div>
      </mdb-card-text>
      <a href="home/" mdbBtn color="primary">Go to home</a>
    </mdb-card-body>
  </mdb-card>
  <!-- <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4 class="text-center">Profile</h4>
      </mdb-card-title>
      <hr>
      <mdb-card-text> 

      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card> -->
</div>